@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Iran";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/IRANSans.woff2) format("woff2");
  }
}

@layer base {
  * {
    color: #17494d;
    direction: rtl;
    font-family: "Iran";
  }
  button span,
  button {
    color: white;
  }
  input {
    background-color: white;
  }
}

@layer components {
  .btn {
    @apply bg-[#ea5a69] text-base text-stone-50 rounded-3xl px-7 py-3 font-normal w-fit;
  }
  .redColor {
    @apply bg-[#ea5a69];
  }
  .bgColor {
    @apply bg-[#f5f5f5];
  }
}
