@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Iran";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/IRANSans.woff2) format("woff2");
  }
}

@layer base {
  * {
    /* color: #17494d; */
    direction: rtl;
    font-family: "Iran";
  }
  input {
    direction: ltr !important;
  }

  input {
    background-color: white;
  }
}
