@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Iran";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/IRANSans.woff2) format("woff2");
  }
}

@layer base {
  * {
    /* color: #17494d; */
    direction: rtl;
    font-family: "Iran";
  }
  input {
    direction: ltr !important;
  }

  input {
    background-color: white;
  }
}

@layer components {
  .modal {
    @apply shadow-md shadow-black;
  }
  .container-shadow {
    @apply shadow-md shadow-black;
  }
  .post {
    @apply shadow-black hover:scale-105 hover:rounded-b-2xl hover:border-2 hover:border-solid hover:shadow-xl hover:transition-all;
  }
}
